@import url('https://fonts.googleapis.com/css2?family=Londrina+Sketch&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.parent {
  background-color: black;
  height: 100svh;
  width: 100svw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

.appBody {
  width: 450px;
  max-width: 450;
  height: 100svh;
  position: relative;
  overflow: hidden;
}

.backgroundImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  filter: blur(5px);
}

/* navbar */
.navbar {
  width: calc(100% - 40px);
  background-color: rgba(255, 255, 255, 0.171);
  display: flex;
  justify-content: space-around;
  margin: 20px;
  position: absolute;
  padding: 20px 0 20px 0;
  border-radius: 30px;
  bottom: 0;
}

.content{
  color: white;
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

/* Home page */
.homeLogo{
  height: 100px;
  width: 100px;
  object-fit: cover;
}
.homePage{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.logoText{
  font-family: "Londrina Sketch", sans-serif;
  font-size: 100px;
  color: #7A66F2;
}

.infoCard{
  background-color: rgba(125, 172, 254, 0.249);
  padding: 40px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.infoCard p{
  color: #cfcfcf;
}

.infoCard h1{
  font-size: 40px;
}