@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.parent {
  background-color: black;
  height: 100svh;
  width: 100svw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

.appBody {
  width: 450px;
  max-width: 450;
  height: 100svh;
  position: relative;
  overflow: hidden;
}

.backgroundImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  filter: blur(15px);
}

/* navbar */
.navbar {
  width: calc(100% - 40px);
  background-color: rgba(255, 255, 255, 0.171);
  display: flex;
  justify-content: space-around;
  margin: 20px;
  position: absolute;
  padding: 20px 0 20px 0;
  border-radius: 30px;
  bottom: 0;
}

.content {
  color: white;
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

/* Home page */
.homeLogo {
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  gap: 20px;
}

.logoText {
  font-family: "Allerta Stencil", sans-serif;
  font-size: 60px;
  color: white;
  font-weight: 400;
}

.infoCard {
  background-color: rgba(255, 255, 255, 0.171);
  padding: 40px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.infoCard p {
  color: #cfcfcf;
}

.infoCard h1 {
  font-size: 40px;
}

/* wallOfFame */
.wallOfFame {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.wallOfFame h1 {
  font-family: "Allerta Stencil", sans-serif;
  font-weight: 400;
  font-size: 40px;
}

.wallOfFame p {
  text-align: center;
}

.walloffameBody {
  display: flex;
  flex-direction: column;
  width: calc(100% - 40px);
  gap: 10px;
}

.topbar {
  display: flex;
  justify-content: space-between;
  font-weight: 800;
}

.playerDetails {
  display: flex;
  justify-content: space-between;

}

.allPlayers {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: calc(100vh - 320px);
}

.playerDetails {
  padding: 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.171);
}

.playerName {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile {
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 50%;
}

/* tasks */
.tasks {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.tasks h1 {
  font-family: "Allerta Stencil", sans-serif;
  font-weight: 400;
  font-size: 40px;
}

.tasks p {
  text-align: center;
}

.taskbox {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}

.taskTopNavigation {
  display: flex;
  flex-direction: row;
  width: calc(100% - 20px);
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.171);
  padding: 6px;
  border-radius: 26px;
}

.taskTopNavigation button {
  width: auto;
  flex-grow: 1;
  padding: 10px;
  border-radius: 20px;
  font-size: 18px;
  border: none;
}

.inactive{
  background-color: transparent;
  color: white;
}

/* loading */
.loading{
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading img{
  height: 100px;
  width: 100px;
}
.bottombar{
  position: absolute;
  bottom: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.bottombar h1{
  font-family: "Allerta Stencil", sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: #7A66F2;
}

.loadingBar{
  height: 10px;
  width: calc(100% - 100px);
  background-color: aliceblue;
  border-radius: 10px;
}

.loadingProgress{
  height: 10px;
  width: 0%;
  background-color: #7A66F2;
  border-radius: 10px;
  transition: 0.3s ease;
}